/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//
* {
  font-family: helvetica;}
h1 {
  font-family: Georgia;
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 15px;
  color: #999;}
h2 {
  color:red;}
.styleTypes li {
  float:left;
  margin-right: 30px;
  margin-left: 15px;
  margin-right: 30px;
  margin-left: 15px;}
.styleTypes li p {
  margin-top: 100px;
  margin-left:20px;}
.header_color {
	height:100px;
	width:100px;
	background-color: #00B29C;
	border-radius:60px;}
.secondary_color {
	height:100px;
	width:100px;
	background-color:#FDFFDF;
	border-radius: 60px;}
.tertiary_color {
	height: 100px;
	width: 100px;
	background-color: #B23700;
	border-radius: 60px;}
.fourth_color {
	height: 100px;
	width: 100px;
	background-color: #666;
	border-radius: 60px;}
#typographyHeader {
  clear:both;
  margin-top:200px;}
.typographyTypes li {
  margin:10px 0px 5px 15px;
  font-size: 25px;
  font-family: Helvetica;
  width:150px;
  border:solid;
  border-style: ridge;}
#headingsTypography {
  font-family: Georgia;
  font-size: 16px;
  margin-left: 60px;}
#buttonsTypography {
  font-family:Helvetica;
  font-size: 16px;
  margin-left: 60px;}
#linkTypography {
  font-family:Helvetica;
  font-size: 16px;
  margin-left: 60px;}
#strongTypography {
  font-family:Helvetica;
  font-size: 16px;
  margin-left: 60px;}
#emphasisTypography {
  font-family: 'Shadows Into Light Two';
  font-size: 16px;
  margin-left: 60px;}
#paragraphTypography {
  font-family: "Palatino Linotype";
  font-size: 16px;
  margin-left: 60px;}
#dataTypography {
  font-family:Helvetica;
  font-size: 16px;
  margin-left: 60px;}
