*{
  background-color: #F5D6C4;
}

h1 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 48px;
}

#salesData {
  background-color: #888;
}

th {
  background-color:#2FA1A1;
  border-radius: 8px;
}

table{
  font-size: 25px;
  border-color:black;
  border-style:solid;
  font-family: Arial;
  border-radius: 8px;
}

td{
  border-color:black;
  border-style: solid;
  border-width: thin;
  background-color: #888;
  border-radius: 8px;
}
